
body {
    font-family: Arial, sans-serif;
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Wizarding_World_of_Harry_Potter_Castle.jpg/1200px-Wizarding_World_of_Harry_Potter_Castle.jpg'); URL background image */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Wizarding_World_of_Harry_Potter_Castle.jpg/1200px-Wizarding_World_of_Harry_Potter_Castle.jpg'); /* URL background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Background transparan */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
}
.login-container h2 {
    margin-top: 0;
    text-align: center;
}
.form-group input[type="submit"] {
    width: 100%;
}
.login-options {
    text-align: center;
    margin-top: 10px;
}
.login-options a {
    display: block;
    margin-top: 5px;
}
.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}
.login-container judul{
    display: block;
    margin-top: 0px;
    margin-bottom: 4px; 
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
